<h4>Export Attendance</h4>
<hr>
Click the link below to export attendance for the event. The file will be a CSV file. This will not export all records, just the individuals who attended the event. <br><br>
<%= link_to "Export Attendance", {controller: "customers", action: "export_attendance", format:"csv"}, class:"btn btn-primary" %>
