<div class="modal fade" tabindex="-1" id="exportattendance">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Attendance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        To export a list of customers who have checked in, please click the download button below<br><br>
        <%= link_to "Export Attendance", {controller: "customers", action: "export_attendance", format:"csv"}, class:"btn btn-primary" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
