<h4>Helpful Links</h4>
<hr>
<p>Below are a few helpful links to help monitor activity during the event. These links will open in new tabs.</p>
<%= link_to "Live Dashboard", dashboard_path, class:"nav-link", target: :_blank %>
<%= link_to "Customer Preview", customers_path, class:"nav-link", target: :_blank %>