<table class="table" id="recent_table">
  <thead>
    <tr>
      <th scope="col">Customer Number</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Dinner Count</th>
      <th scope="col">Registered at Event</th>
    </tr>
  </thead>
  <tbody>
    <% @recent_checkins.each do |customer| %>
      <tr>
        <td><%= customer.customer_number %></td>
        <td><%= customer.name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.actual_dinner_count %></td>
        <td><% if customer.registered_at_event %>Yes<% else %>No<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>