<div class="accordion-item">
  <h2 class="accordion-header" id="headingIC">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIC" aria-expanded="false" aria-controls="collapseIC">
      Import Customers
    </button>
  </h2>
  <div id="collapseIC" class="accordion-collapse collapse" aria-labelledby="headingIC" data-bs-parent="#accordion">
    <div class="accordion-body">
      Import the list of customers below. The import file should be a CSV. The following fields are allowed: <code>customer_number</code>, <code>name</code>, <code>address</code>, <code>phys_address</code>, <code>phone_number</code>, <code>co</code>, <code>empdir</code>, <code>member_number</code>. The CSV should be a standard comma delimated file including a header. <br><br>
      <%= form_tag import_customers_path, multipart:true do %>
        <%= file_field_tag :file, class:"form-control" %>
        <br>
        <%= submit_tag "Import CSV", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>