<div class="modal fade" tabindex="-1" id="uploadregistrations">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Registrations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_tag import_customers_path, multipart:true do %>
          <%= file_field_tag :file, class:"form-control" %>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Import CSV", class:"btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
