<div class="modal fade" tabindex="-1" id="viewemployees">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recent Check-Ins</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">PIN</th>
              <th scope="col">Admin</th>
              <th scope="col">Links</th>
            </tr>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                  <td><%= employee.first_name %></td>
                  <td><%= employee.last_name %></td>
                  <td><%= employee.PIN %></td>
                  <td><% if employee.IsAdmin %><span class="badge bg-success">Yes</span><% end %></td>
                  <td><%= link_to "View", employee_path(employee), class: "badge bg-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
