<h1 class="display-4">Admin Functions</h1>
<div class="row">
  <div class="col-4 gy-5">
    <div class="card p-3">
      <h3>Import Customers</h3>
    </div>
  </div>
  <div class="col-4 gy-5">
    <div class="card p-3">
      <h3>Import Registrations</h3>
    </div>
  </div>
  <div class="col-4 gy-5">
    <div class="card p-3">
      <h3>Export Attendance</h3>
    </div>
  </div>
  <div class="col-4 gy-5">
    <div class="card p-3">
      <h3>Create Employee</h3>
    </div>
  </div>
  <div class="col-4 gy-5">
    <div class="card p-3">
      <h3>Create Customer</h3>
    </div>
  </div>
  <div class="col-4 gy-5">
    <div class="card p-3">
      <h3>View Recent Check-Ins</h3>
    </div>
  </div>
</div>
