<div class="row justify-content-center">
  <div class="col-8">
    <h1 class="display-1">Annual Meeting Check-In</h1>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="row justify-content-center align-items-center">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Please input your employee code below to continue.</h5><br>
        <%= form_with url: sessions_path do |form| %>
          <%= form.text_field :PIN, class:"form-control form-control-lg" %>
          <%= form.submit "Login", class:"btn btn-lg" %>
        <% end %>
      </div>
    </div>
  </div
</div>
