<div id="<%= dom_id registration %>">
  <p>
    <strong>Customer:</strong>
    <%= registration.customer_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= registration.date %>
  </p>

  <p>
    <strong>Dinner count:</strong>
    <%= registration.dinner_count %>
  </p>

</div>
