<div id="<%= dom_id check_in %>">
  <p>
    <strong>Customer:</strong>
    <%= check_in.customer_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= check_in.employee_id %>
  </p>

  <p>
    <strong>Registration:</strong>
    <%= check_in.registration_id %>
  </p>

</div>
