<h1>Edit Customer</h1>
<br>

<%= render "form", customer: @customer %>

<br>
<div>
  <%= link_to "Cancel Editing", @customer, class:"btn btn-secondary" %>
  <%= link_to "View All Customers", customers_path, class:"btn btn-secondary" %>
</div>
