<div id="customers clearfix">
  <% if @customers.count > 1 %>
    <%= render "customertable" %>
  <% else %>
    <% @customers.each do |customer| %>
      <%= render customer %>
    <% end %>
  <% end %>
</div>
<br>
<br>
<br>
<br>
