<p style="color: green"><%= notice %></p>
<div id="customers">
  <% if @customers.count > 1 %>
    <%= render "customertable" %>
  <% else %>
    <% @customers.each do |customer| %>
      <%= render customer %>
    <% end %>
  <% end %>
</div>
<%= link_to "New customer", new_customer_path %>
